<div class="bg-dark text-white p-3 sidebar h-100 flex-shrink-0 w-100">
  <h4 class="mb-4">Contact App</h4>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a 
        class="nav-link text-white rounded d-flex align-items-center"
        routerLink="/dashboard/contact" 
        routerLinkActive="active bg-secondary border-start border-3 border-info"
      >
        <i class="bi bi-person-plus me-2"></i> Nuevo Registro
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link text-white rounded d-flex align-items-center"
        routerLink="/dashboard/users" 
        routerLinkActive="active bg-secondary border-start border-3 border-info"
      >
        <i class="bi bi-list-ul me-2"></i> Ver Usuarios
      </a>
    </li>

    <!-- Navigation to Landing -->
    <li class="nav-item mt-5 pt-4 border-top border-secondary opacity-75 d-block d-md-none">
      <a 
        class="nav-link text-info rounded d-flex align-items-center"
        routerLink="/contact"
      >
        <i class="bi bi-box-arrow-left me-2"></i> Volver al Landing
      </a>
    </li>
  </ul>
</div>