
<div class="position-fixed top-0 start-0 w-100 h-100 bg-secondary opacity-50 d-flex justify-content-center align-items-center" style="z-index: 1200;"></div>
<div class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" style="z-index: 1201;">
  <button
    type="button"
    class="btn btn-light d-inline-flex align-items-center bg-white px-4 py-2 fw-semibold text-black shadow !cursor-progress" 
  >
    <output
      class="spinner-border spinner-border-sm me-3 text-dark"
      aria-hidden="true"></output>
    Loading...
  </button>
</div>
