<div class="contact-info-container d-flex flex-column h-100 py-md-3">
  <div class="info-item d-flex mb-4 align-items-center gap-3">
    <i class="bi bi-envelope-fill text-theme fs-5"></i>
    <span class="text-secondary small fw-medium text-break">consultas@correo.com</span>
  </div>

  <div class="info-item d-flex mb-4 gap-3">
    <i class="bi bi-geo-alt-fill text-theme fs-5"></i>
    <span class="text-secondary small fw-medium text-break">Av. 16 de Julio Nro. 8 - Ciudad - Pais</span>
  </div>

  <div class="info-item d-flex mb-5 gap-3">
    <i class="bi bi-telephone-fill text-theme fs-5"></i>
    <div class="d-flex flex-column text-secondary small fw-medium">
      <span class="text-break">(01) 3453 - 654</span>
      <span class="text-break">(01) 3233 - 452</span>
    </div>
  </div>

  <div class="social-icons d-flex gap-2 ms-2 ms-sm-4 flex-wrap">
    <a href="#" class="social-icon bg-theme text-white rounded-circle d-flex align-items-center justify-content-center">
      <i class="bi bi-facebook fs-6"></i>
    </a>
    <a href="#" class="social-icon bg-theme text-white rounded-circle d-flex align-items-center justify-content-center">
      <i class="bi bi-twitter fs-6"></i>
    </a>
    <a href="#" class="social-icon bg-theme text-white rounded-circle d-flex align-items-center justify-content-center">
      <i class="bi bi-instagram fs-6"></i>
    </a>
  </div>
</div>
