<div class="px-0 container">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="breadcrumb-header float-end">
      <ol class="breadcrumb">
        <li 
          class="breadcrumb-item"
        >
          <a 
            [routerLink]="[`${url()}`]" 
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="text-capitalize cursor-pointer text-black text-decoration-none"
          >
            {{page()}}
          </a>
        </li>
        <li 
          class="breadcrumb-item active text-primary" 
          aria-current="page"
        >
          {{titulo()}}
        </li>
      </ol>
    </nav>
  </div>
</div>
